<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>[[#{app.title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">[[#{title.detail}]]</h2>
                </div>
                <div class="card-body">
                    <div class="text-end">
                        <a th:href="@{/member}">
                            <button type="button" class="btn btn-success btn-sm">
                                [[#{back}]]
                            </button>
                        </a>
                    </div>
                    <p> [[#{detail.name}]]: <strong th:text="${member.name}"></strong></p>
                    <p> [[#{detail.DoB}]]: <strong th:text="${member.date}"></strong></p>
                    <p> [[#{detail.edu}]]: <strong th:text="${member.education}"></strong></p>
                    <p> [[#{detail.email}]]: <strong th:text="${member.email}"></strong></p>
                    <p> [[#{detail.mobile_no}]]: <strong th:text="${member.mobile_no}"></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>