<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>[[#{app.title}]]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center" th:text="#{app.title}"></h2>
                <div class="row d-flex justify-content-between">
                    <div class="col">
                        <select id="locales">
                            <option value="" disabled selected th:text="#{select}"></option>
                            <option value="ko" >Korean</option>
                            <option value="in" >Indonesian</option>
                            <option value="us" >English</option>
                        </select>
                    </div>
                    <div class="col text-end">
                        <a th:href="@{/create}">
                            <button type="button" class="btn btn-success btn-sm">
                                [[#{button}]]
                            </button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <table class="table table-striped table-hover table-bordered" border="1">
                    <thead class="table-dark">
                    <tr>
                        <th>No</th>
                        <th th:text="#{header.name}"></th>
                        <th th:text="#{header.DoB}"></th>
                        <th th:text="#{header.edu}"></th>
                        <th th:text="#{header.email}"></th>
                        <th th:text="#{header.mobile_no}"></th>
                        <th th:text="#{header.op}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${member}">
                        <td th:text="${memberStat.index + 1}"></td>
                        <td th:text="${member.name}"></td>
                        <td th:text="${#dates.format(member.date, 'yyyy-MM-dd')}"></td>
                        <td th:text="${member.education}"></td>
                        <td th:text="${member.email}"></td>
                        <td th:text="${member.mobile_no}"></td>
                        <td class="text-center align-middle">
                            <a th:href="@{/update/{id}(id=${member.id})}">
                                <button class="btn btn-outline-warning btn-xs m-2"
                                >Update</button>
                            </a>

                            <a th:href="@{/delete/{id}(id=${member.id})}">
                                <button class="btn btn-outline-danger btn-xs m-2"
                                >Delete</button>
                            </a>

                            <a th:href="@{/detail/{id}(id=${member.id})}">
                                <button class="btn btn-outline-info btn-xs m-2"
                                >Detail</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
//                alert(selectedOption);
            }
        });
    });
</script>
</html>